*:focus, *:focus-visible {
    outline: .5rem dashed #490415;
    background-color: #fff0f4;

    .button {
       
        background: #490415;
        color: #ffffff;
        text-decoration: underline;
            text-underline-offset: .3rem;

        i {
                color: white;
            }
    }

    .tooltip {
        display: block;
    }

 
}