*:focus {
    outline: .5rem dashed #490415;
    background-color: #fff0f4;

    .button {
       
        background: #490415;
        color: #ffffff;

        i {
                color: white;
            }
    }

 
}